<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container mt-4">
    <h4 class="mb-3">Current Products</h4>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Availability</th>
        </tr>
        </thead>
        <tbody>
        <!-- aproduct is the temporary variable and products is the collection object -->
        <tr th:each="aproduct : ${listproducts}">
            <td th:text="${aproduct.name}"></td>
            <td th:text="${aproduct.price}"></td>
            <td th:text="${aproduct.available}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container mt-4">
    <h4 class="mb-3">Current Users</h4>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>NO of Products</th>
        </tr>
        </thead>
        <tbody>
        <!-- auser is the temporary variable and users is the collection object -->
        <tr th:each="auser : ${listusers}">
            <td th:text="${auser.Name}"></td>
            <td th:text="${auser.PhoneNumber}"></td>
            <td th:text="${auser.MappedProduct}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <canvas id="myPieChart" height="50" width="50"></canvas>
</div>
<script type="text/javascript" th:src="@{/js/myChart.js}"></script>

<!-- Bootstrap JS and dependencies -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvvV0FZ6AOvx8iTQm+I" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa5YyZGELcFYIlfR8LkB7DxgB" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy3eLrHSAWI0Xysf6EG7fXncO+mY7ezm+9M6wJ6" crossorigin="anonymous"></script>-->
</body>
</html>